* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    margin-left: 10px;
}

ul {
    list-style-type: none;
}

section {
    margin: 15px 20px;
}

section ul {
    margin: 10px 15px;
}

section li {
    margin: 5px 0;
}

button {
    display: block;
    margin-top: 5px;
    width: 200px;
    border-radius: 5px;
    background: cornflowerblue;
    border-color: cornflowerblue;
    border: 2px solid cornflowerblue;
    color: #fff;
}